<head>
    <style>
        .item{
            border: groove;
            background-color: #f8f8fe;
        }
        h3{
            margin-left:10px;
            margin-top: 10px;
        }
        article{
            border:groove;
            margin-block:10px;
           
        }
        h4{
            margin-top:10px;
            margin-left:10px;
            
        }
        content{
            margin-left:15px;
            margin-bottom:10px;
        }
        p{
            margin-left: 15px;
        }
    </style>
</head>
<div class="container-fluid">
    <div class="container">
        <h2>Các hướng nghiên cứu</h2>
        <div class="content-list">
            <div class="item">
                <h3>1. Thiết kế và chế tạo robot</h3><br />
                <article>
                    <h4>1. Thiết kế và chế tạo robot Nhện 6 bậc tự do sử dụng board mạch nhúng Beaglebone Black</h4>
                    <div class="content">
                    <content>▪ Loại đề tài: NCKH</content><br />
                    <content>▪ Hệ: KSCQ, KSTN, CTTT</content><br />
                    <content>▪ Mô tả đề tài: Đề tài tập trung vào việc thiết kế và chế tạo cho robot nhện 6 bậc tự do.</content><br />
                    <content>▪ Kiến thức yêu cầu: </content><br />
                    <content>
                        - Thiết kế 3D
                    </content><br /><content>
                        - Biết sử dụng hệ điều khiển ROS
                    </content><br /><content>
                        - Có kính nghiệm làm việc với các phần cứng arduino và
                        động cơ servo
                    </content><br />
                        <content>
                            ▪ Sinh viên được đào tạo:
                        </content><br /> <content>
                    - Sử dụng hệ điều khiển Ros nếu cần
                        </content><br /> <content>
                    - Sử dụng máy in 3D và máy gia công CNC để thực hiện chế tạo các chi tiết cho robot nhện
                        </content><br /> <content>
                    - Kết nối với Beagle bone Black
                        </content><br />
                    <content>▪ Tài liệu tham khảo:</content><br />
                    </div>
                </article>
                <article>
                    <h4>2. Thiết kế và chế tạo robot delta</h4>
                    <div class="content">
                        <content>▪ Loại đề tài: TTTN, NCKH</content><br />
                        <content>▪ Hệ: KSCQ, SIE, KSTN, CTTT</content><br />
                        <content>
                            ▪ Mô tả đề tài: Thiết kế, chế tạo và bộ điều khiển cho robot delta có
                            tham khảo các open source. Robot sẽ được mô phỏng trên matlab
                            hoặc gazebo, sau đó sẽ được chế tạo và triển khai với các phần cứng
                            điều khiển phù hợp
                        </content><br />
                        <content>▪ Tài liệu tham khảo: </content><br />
                    <content>
                            - https://github.com/topics/delta-robot%202.%20
                    </content><br /><content>
                        - https://github.com/giridharanponnuvel/Delta-Robot-InverseKinematics%203.%20
                    </content><br /><content>
                        - https://github.com/AutoRoboCulture/delta-robot-simulationgazebo%204.%20
                    </content><br /><content>
                            - https://www.forum.linuxcnc.org/10-advancedconfiguration/36482-kinematics-and-delta-robot
                    </content><br />
                        
                    </div>
                </article>
                <article>
                    <h4>3. Xây dựng hệ điều khiển cho robot Doremon</h4>
                    <div class="content">
                        <content>▪ Loại đề tài: ĐATN</content><br />
                        <content>▪ Hệ: KSCQ, SIE, KSTN, CTTT</content><br />
                        <content>
                            ▪ Mô tả đề tài: Xây dựng các hành vi và các phương thức tương tác
                            giữa robot Doremon và người sử dụng hướng tới mục đich giáo dục
                        </content><br />                        
                    </div>
                </article>

            </div>
            <div class="item">
                <h3>2. Mô phỏng lái</h3><br />
                <article>
                    <h4>
                        1. Nghiên cứu phát triển thuật toán tái tạo chuyển động cho hệ thống mô phỏng lái
                    </h4>
                    <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                        <content>▪ Hệ: KSCQ, SIE, KSTN, CTTT</content><br />
                    <content>▪ Mô tả đề tài: Thuận toán tái tạo chuyển động cho hệ mô phỏng lái
                            giúp hệ mô phỏng có thể hoạt động trong không gian giới hạn và
                            cung cấp đủ cảm giác chuyển động cho người lái tránh được các
                            hiện tượng say xe trong quá trình lái xe trong hệ mô phỏng. Đề tài
                            hướng đến phát triển các thuật toán mô phỏng lái tiên tiến cho các
                            chế độ mô phỏng đặc thù
                    </content><br />
                    <content>▪ Kiến thức yêu cầu: </content><br />
                    <content>
                            - Lập trình trên matlab, python hoặc C
                    </content><br /><content>
                            - Có khả năng đọc hiểu tiếng anh
                    </content><br />
                        <content>
                            ▪ Tài liệu tham khảo:
                        </content><br /> <content>
                            - https://www.youtube.com/watch?v=O76DFx6Ay8E&ab_channel=
                            MPIVideosProject
                        </content><br /> 
                    </div>
                </article>
                <article>
                    <h4>
                        2. Thiết kế, mô phỏng và chế tạo hệ mô phỏng lái 2 bậc tự do
                    </h4>
                    <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN</content><br />
                        <content>▪ Hệ: SIE</content><br />
                    <content>
                            • Mô tả đề tài: Sinh viên thiết kế mô hình và triển khai kết nối với các
                            môi trường mô phỏng lái oto 3D
                    </content><br /><content>
                            ▪ Tài liệu tham khảo:
                        </content><br /> <content>
                            - https://www.xsimulator.net/community/threads/myfinished-2dof-project-videotutorial.16214/
                        </content><br /> <content>
                            - https://www.youtube.com/watch?v=L0wX_x7r-9k&ab_channel=mikeyearl
                        </content><br /> 
                    </div>
                </article>
                <article>
                    <h4>
                        3. Nghiên cứu mô phỏng xe tự lái dựa trên phần mềm mã nguồn mở Carla
                    </h4>
                    <div class="content">
                        <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                        <content>▪ Hệ: </content><br />
                    <content>
                            • Mô tả đề tài: Nghiên cứu mô phỏng xe tự lái dựa trên phần mềm mã nguồn mở Carla
                    </content><br />
                    </div>
                </article>
                <article>
                    <h4>
                        4. Thiết kế chế tạo bệ mô phỏng chuyển động 3 bậc tự do sử dụng motion card
                    </h4>
                    <div class="content">
                        <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                        <content>▪ Hệ: </content><br />
                    <content>
                            • Mô tả đề tài: Thiết kế chế tạo bệ mô phỏng chuyển động 3 bậc tự do sử dụng motion card
                    </content><br />
                    </div>
                </article>
                <article>
                    <h4>
                        6. Thiết kế, chế tạo bệ chuyển động cho hệ thống mô phỏng lái
                    </h4>
                    <div class="content">
                        <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                        <content>▪ Hệ: </content><br />
                    <content>
                            • Mô tả đề tài: Thiết kế, chế tạo bệ chuyển động cho hệ thống mô phỏng lái
                    </content><br />
                    </div>
                </article>
                <article>
                    <h4>
                        7. Phân tích và đánh giá cảm giác người lái trên hệ thống mô phỏng lái CKAS 6 bậc tự do
                    </h4>
                    <div class="content">
                        <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                        <content>▪ Hệ: </content><br />
                    <content>
                            • Mô tả đề tài: Phân tích và đánh giá cảm giác người lái trên hệ thống mô phỏng lái CKAS 6 bậc tự do
                    </content><br />
                    </div>
                </article>
            </div>
            <div class="item">
                <h3>3. Robot dạng người</h3><br />
            <article>
                <h4>
                        1. Nghiên cứu phát triển các tính năng mở rộng cho robot dạng người Pepper
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Nghiên cứu phát triển các tính năng mở rộng cho robot dạng người Pepper
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        2. Nghiên cứu thiết kế robot dạng người có thể di bằng 2 chân
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Nghiên cứu thiết kế robot dạng người có thể di bằng 2 chân
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        3. Nghiên cứu mô phỏng và nâng cấp các hoạt động của robot Nao
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Nghiên cứu mô phỏng và nâng cấp các hoạt động của robot Nao
                </content><br />
                </div>
            </article>
            </div>
            <div class="item">
                <h3>4. Robot tự hành</h3><br />
            <article>
                <h4>
                        1. Thiết kế hệ thống điều khiển tay máy di chuyển MIRUR tích hợp robot tự hành mir 100 và tay máy UR5
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Thiết kế hệ thống điều khiển tay máy di chuyển MIRUR tích hợp robot tự hành mir 100 và tay máy UR5
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        2. Xây dựng hệ thống quản lý di chuyển của nhiều robot tự hành trong xưởng sản xuất.
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Xây dựng hệ thống quản lý di chuyển của nhiều robot tự hành trong xưởng sản xuất.
                </content><br />
                </div>
            </article>
            </div>
            <div class="item">
                <h3>5. Hệ thống công nghiệp (CNC, in 3D)</h3><br />
            <article>
                <h4>
                        1. Nghiên cứu tích hợp các hệ điều khiển CNC mã nguồn mở cho các hệ thống cơ điện tử
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Nghiên cứu tích hợp các hệ điều khiển CNC mã nguồn mở cho các hệ thống cơ điện tử
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        2. Xây dựng hệ thống quản lý di chuyển của nhiều robot tự hành trong xưởng sản xuất.
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Xây dựng hệ thống quản lý di chuyển của nhiều robot tự hành trong xưởng sản xuất.
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        3. Xây dựng máy in 3D khổ lớn
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Xây dựng máy in 3D khổ lớn
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        4. Thiết kế hệ điều hướng tia laser dựa trên động cơ tuyến tính ứng dụng trong gia công
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Thiết kế hệ điều hướng tia laser dựa trên động cơ tuyến tính ứng dụng trong gia công
                </content><br />
                </div>
            </article>
            <article>
                <h4>
                        5. Thiết kế, chế tạo máy in 3D 5 trục
                </h4>
                <div class="content">
                    <content>• Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Thiết kế, chế tạo máy in 3D 5 trục
                </content><br />
                </div>
            </article>
            </div>
            <div class="item">
                <h3>6. Mô hình trí tuệ nhân tạo</h3><br />
            <article>
                <h4>
                        1. Xây dựng mô hình AI nhận dạng các hoa văn trang trí gỗ và đề xuất mẫu sản phẩm
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Xây dựng mô hình AI nhận dạng các hoa văn trang trí gỗ và đề xuất mẫu sản phẩm
                        </content><br />
                </div>
            </article>
            </div>
            <div class="item">
                <h3>7. Tăng cường thực tế ảo và môi trường 3D</h3><br />
            <article>
                <h4>
                        1. Xây dựng phương pháp và phần mềm xây dựng quỹ đạo 3D sử dụng camera 3D solomon
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Xây dựng phương pháp và phần mềm xây dựng quỹ đạo 3D sử dụng camera 3D solomon
                        </content><br />
                </div>
            </article>
            <article>
                <h4>
                        2. Nghiên cứu phát triển hệ thống thực tại ảo tăng cường ứng dụng trong đào tạo
                </h4>
                <div class="content">
                        <content>▪ Loại đề tài: ĐATN, TTTN, SV NCKH</content><br />
                    <content>▪ Hệ: </content><br />
                <content>
                            • Mô tả đề tài: Nghiên cứu phát triển hệ thống thực tại ảo tăng cường ứng dụng trong đào tạo
                        </content><br />
                </div>
            </article>
            </div>
            
        </div>
    </div>
</div>