<head>
    <style>
        article:hover {
            background-color: darkgrey;
        }

        h3 {
            margin-left: 15px;
            margin-top: 15px;
        }
        h5 {
            margin-left: 20px;
            margin-top: 15px;
        }
        img{
            
            height:145px;
            width:250px;
        }
    </style>
</head>

<div class="container">    
    <div class="space-y-4">            
        <article class="border border-3" style="height:150px;" data="SSD" onclick="getArticleValue(this)">
            <div class="row">
                <div class="col-9">
                    <h3>Samsung Display</h3>
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>   Xem các dự án kết hợp cùng Samsung Display
                    </h5>
                </div>
                <div class="col-3"><img src="~/img/Logo/smasung-display_1.jpg" /></div>                
            </div>           
        </article>            
        <article class="border border-3" style="height:150px;" data="SSE" onclick="getArticleValue(this)">
            <div class="row">
                <div class="col-9">
                    <h3>Samsung Electronics</h3>
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>   Xem các dự án kết hợp cùng Samsung Electronics
                    </h5>
                </div>
                <div class="col-3"><img src="~/img/Logo/SamsungElectronicslogo.gif" /></div>
            </div>
        </article>
        <article class="border border-3" style="height:150px;" data="NV" onclick="getArticleValue(this)">
            <h3>Nam Vượng</h3>
        </article>
        <article class="border border-3" style="height:150px;" data="ATM" onclick="getArticleValue(this)">
            <div class="row">
                <div class="col-9">
                    <h3>Automech</h3>
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>   Xem các dự án kết hợp cùng Automech
                    </h5>
                </div>
                <div class="col-3"><img src="~/img/Logo/automech.png" /></div>
            </div>
        </article>
        <article class="border border-3" style="height:150px;" data="VDK" onclick="getArticleValue(this)">
            <h3>VDK</h3>
        </article>
    </div>
</div>
<script>
    function getArticleValue(element) {
        var articleValue = element.getAttribute("data");
        if (articleValue == "SSD") {
            window.location.href = "https://localhost:44384/Projects/SSD";
        }
        if (articleValue == "SSE") {
            window.location.href = "https://localhost:44384/Projects/SSE";
        }
        if (articleValue == "NV") {
            window.location.href = "https://localhost:44384/Projects/NV";
        }
        if (articleValue == "ATM") {
            window.location.href = "https://localhost:44384/Projects/ATM";
        }
        if (articleValue == "VDK") {
            window.location.href = "https://localhost:44384/Projects/VDK";
        }
    }
</script>